h1 {background-color: red;}
h2 {background-color: red;}
h3 {background-color: red;}
h4 {background-color: red;}




.home {
    display: inline-block;
    list-style: none;
    color: brown;
}
.container {
    margin-left: 80px;
    margin-right: 80px;

}